version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    env_file: .env
    environment: 
      DB_HOST: postgres
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    container_name: frontend

  postgres:
    image: postgres:15
    container_name: postgres
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    image: nginx:alpine
    container_name: nginx
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - backend

volumes:
  postgres_data:
